.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--title-bg-color);
    border-radius: 10px;
}

.title-card h1{
    color: var(--title-main-color);
    font-family: var(--main-font);
    background-color: var(--title-bg-color);
}

.minor-title{
    font-family: var(--main-font);
    margin: 5px;
}