<!DOCTYPE html>
<html>

<head>
    <title>Oppgave editor</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js" defer></script>
</head>

<body>
    
    <div class="container">

        <div class="editor">

            <h2>Oppgave Editor</h2>

            <label>Navn</label>
            <br>
            <input id="nameField" class="name" placeholder="Navn">
            <br>
            <label>Beskrivelse</label>
            <textarea class="description" id="descriptionField" rows="3" placeholder="Beskrivelse"></textarea>

            <label>Oppgave</label>
            <textarea id="jsonInput">
{
    "objects": {

    },
    "keyEvents": {
        "task-start": {
            "cmd": [

            ]
        },
        "correct-flag-submit": {
            "cmd": [

            ]
        },
        "wrong-flag-submit": {
            "cmd": [

            ]
        }
    },
    "triggers": [

    ],
    "details": {

    }
}
</textarea>

            <br>

            <button onclick="format()">Formatter</button>
            <button onclick="validate()">Valider</button>
            <button onclick="save()">Lagre</button>

            <div id="result"></div>

    </div>


        <div class="sidebar">
        
            <h3>Last inn oppgave</h3>
            
            <input id="searchName" placeholder="Oppgavenavn">
            
            <button onclick="loadTask()">Last inn</button>
            
            <div id="searchStatus"></div>
        
        </div>

    </div>

</body>

</html>